:root{
  --black: #000000;
  --white: #ffffff;
  --primary: #de1d9d;
  --primary-2: #F8D2EB;
  --primary-3: #FBE8F5;
  --secondary: #212cff;
  --secondary-2:#D3D5FF;
  --secondary-3: #E8E9FF;
  --gray: #f7f8f9;
  --gray-2: #dadada;
  --gray-3: #939393;
  --error-text: #e21b1b;
  --error-bg: #fae1e4;
  --correct-text: #4bae4f;
  --correct-bg:#f1fff2;
}
