@use 'variables';
@use 'components/phoneinput';
@use 'components/notifications';
@use 'components/drawer';
@use 'components/customtable';
@use 'components/showProfile';
@use 'components/deleteUser';
@use 'components/login';

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Color Emoji';
  src: url('../fonts/NotoColorEmoji-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: var(--gray);
  font-family: 'Tajawal', sans-serif;
}

.dashboard__breadcrumb{
  height: 50px;
  background-color: var(--white);
  width: 100%;
}

.fill-height {
  min-height: 100vh;
}